body {
  background-color: #ffcccc;
  text-align: center;
}

.container {

  padding-right: 70px;
  padding-left: 70px;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

h2{
  color: black; 
  font-size: xx-large;
  Font-family: georgia;
}

h4{
  color:#ffcccc;
  
}
