body {
  background-color: #ffcccc;
  text-align: center;
}

.container {
  color: #ffffcc;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
}

h2{
  color: #black; 
  font-size: 27 pt;
  Font-family: georgia;
}

h4{
  color:#ffcccc;
  
}
