body {
  background-color: #cc3333;
}

container {
height:400px;
width:400px;
line-height:400px;
text-align:center;
}

h1 {
  border-style: solid;
  color: #ffffff;
  font-family: Georgia;
  
}

h2{
  font-size: large;
  Font-family: georgia;
}

h4{
  color:#ffffff;
  
}
